@font-face {
    font-family: "DIN";
    src: url("fonts/bodoni-7275.otf");
    font-weight: bold;
}

@font-face {
    font-family: "DIN";
    src: url("fonts/helvetica-neue-thin.ttf");
    font-weight: 300;
}