@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto-v30-latin-regular.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto-v30-latin-bold.woff2");
    font-weight: bold;
}
