/*
 * Define your custom CSS Styles here.
 */


.logo-link__img, .logo-link__text {
    transition: all .4s cubic-bezier(.54,0,.28,1); !important
    width: 250px; !important
    height: 150px; !important
}